<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Baby Cry Interpreter</name>
 
    <description>
        Record the (non-hysterical) crying and moaning of your newborn
        baby and run it against our classification algorithm to get you a 
        list of the most likely causes for your baby's complaints.
    </description>
 
    <author email="romhartmann@gmail.com">
        Roman Hartmann
    </author>
 
<!--     <feature name="http://api.phonegap.com/1.0/camera"/> -->
<!--     <feature name="http://api.phonegap.com/1.0/contacts"/> -->
    <feature name="http://api.phonegap.com/1.0/file"/>
<!--     <feature name="http://api.phonegap.com/1.0/geolocation"/> -->
    <feature name="http://api.phonegap.com/1.0/media"/>
<!--     <feature name="http://api.phonegap.com/1.0/network"/> -->
<!--     <feature name="http://api.phonegap.com/1.0/notification"/> -->
 
</widget>